.tongxiu{
    color: rgba(255, 0, 0, 0.7);
    text-align: center;
    font-size: 160;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.renjian{
    width: 200px; 
    height: 1000px; 
    object-fit: cover;
    object-position: 25% 25%; 
}

.zhiai{
    left: 50%;
    bottom: 20px;
    outline-style: solid;
    outline-width: 3px;
}

nav{
    width: 469px;
    background-color: rgb(148, 0, 0);
    outline-style: solid;
    outline-width: 5px;
    outline-color: rgb(148, 0, 0);  
    text-align: center;
    display: inline-block;
}

a{
    color:rgb(0, 0, 0);
    text-shadow:
    1px 1px 0 #2c0000,
    2px 2px 0 #420000,
    3px 3px 0 #6d0101,
    4px 4px 0 #810000,
    5px 5px 0 rgb(148, 0, 0); 
}