.tongxiu{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 160;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.renjian{
    
}

.zhiai{
    position: absolute;
    left: 50%;
    bottom: 20px;
}