.tongxiu{
    color: rgba(255, 0, 0, 0.7);
    text-align: center;
    font-size: 160;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.renjian{
    width: 200px; 
    height: 1000px; 
    object-fit: cover;
    object-position: 25% 25%; 
}

.zhiai{
    box-shadow: 5px 5px 10px rgb(104, 98, 98); 
}

.zhichu{
    width: 2000px; 
    height: 1000px; 
    object-fit: cover;
}

.muguahuang{
    position: absolute;
    text-align: center;
    bottom: 10%;
    left: 7%; 
    text-shadow: rgb(255, 255, 255) 1px 1px 0;
    text-shadow: rgb(255, 255, 255) 2px 2px 0;
}

.langman{
    object-fit: cover;
}

.sanwu{
    position: absolute;
    text-align: center;
    bottom: -127%;
    left: 17%; 
    color:#ffffff;
    text-shadow: rgb(0, 0, 0) 1px 1px 0, rgb(0, 0, 0) 2px 2px 0;
}

.musuli{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.linqian{
    font-size: 50;
    text-shadow: rgb(114, 0, 0) 1px 1px 0, rgb(114, 0, 0) 2px 2px 0, rgb(114, 0, 0) 3px 3px 0;
}

.xiaoshuo{
    font-size: 70;
    text-align: center;
    color:rgb(131, 0, 0);
    text-shadow: rgb(0, 0, 0) 1px 1px 0, rgb(0, 0, 0) 2px 2px 0, rgb(0, 0, 0) 3px 3px 0;


}

.nanpaisanshu{
    text-align: center;
    width: 450px;
    display: inline-block;
}

.manhua{
    width: 1890px; 
    height: 950px; 
    object-position: 25% 25%; 
}

.donghua{
    width: 1890px; 
    height: 950px;
    object-position: 25% 25%; 
    opacity: 0.5;
    transform: translate(0, -950px);
}

nav{
    height: 60px;
    width: 469px;
    background-color: rgb(148, 0, 0);
    outline-style: solid;
    outline-width: 3px;
    outline-color: rgb(148, 0, 0);  
    text-align: center;
    display: inline-block;
}

a{
    font-size: smaller;
    color: black;
    text-shadow:
    1px 1px 0 #2c0000,
    2px 2px 0 #420000,
    3px 3px 0 #6d0101,
    4px 4px 0 #810000,
    5px 5px 0 rgb(148, 0, 0); 
}

a:hover{
    color: rgb(255, 196, 0);
    text-shadow:
    1px 1px 0 #917600,
    2px 2px 0 #a17b00,
    3px 3px 0 #6d3501,
    4px 4px 0 #7c3200,
    5px 5px 0 rgb(148, 0, 0); 
}

p{
    position: absolute;
    text-align: center;
    bottom: 8px;
    left: 30%;
    font-size: larger;
    color: rgb(255, 255, 255);
    width: 800px;
    text-shadow: rgb(0, 0, 0) 1px 1px 0;
}

p:hover{
    bottom: -20%;
    left: 12%;
    width: 1500;
    font-size:60px;
}